### Import Dependencies

In [1]:
import time
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium import webdriver

In [2]:
# print out the location of the driver
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# identify location of chromedriver and store it as a variable
driverPath = !which chromedriver

# Setup configuration variables to enable Splinter to interact with browser
executable_path = {'executable_path': driverPath[0]}
browser = Browser('chrome', **executable_path, headless=False)

### Define URL to scrape and inform the browser to visit the page

In [4]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

### Scrape content from the website (latest news title and paragraph text)

In [5]:

# Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Using BS, we can execute standard functions to capture the page's content
quotes = soup.find_all('li', class_='slide')

news_title = quotes[0].h3.text
news_p = quotes[0].a.text
print(news_title)
print(news_p)

After a Reset, Curiosity Is Operating Normally
Curiosity has returned to science operations and is once again exploring the clay unit. After a Reset, Curiosity Is Operating Normally

### Define JPL URL to scrape and inform the browser to visit the page

In [13]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

### Find the largesize image URL

In [14]:

# Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

### Go to next page with FULL IMAGE link

In [15]:
browser.click_link_by_partial_text('FULL IMAGE')

### Go to large size image link

In [16]:
browser.click_link_by_partial_text('more info')

### Scrape the image url from the new website

In [17]:
new_html = browser.html
new_soup = BeautifulSoup(new_html, 'html.parser')
image = new_soup.find('img', class_='main_image')
image_url = image.get('src')

### Assign the url string to a variable called 'featured_image_url'

In [18]:
featured_image_url = 'https://www.jpl.nasa.gov'+image_url
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19041_hires.jpg

### Mars Weather

In [19]:
# Define the weather url and inform the browser to visit the page
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

# Using bs to capture the page's content
weather_html = browser.html
soup = BeautifulSoup(weather_html, 'html.parser')
# Scrape the latest (first) news about the mars weather
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

InSight sol 91 (2019-02-28) low -95.0ºC (-139.0ºF) high -13.9ºC (7.0ºF)
winds from the SW at 4.2 m/s (9.5 mph) gusting to 14.0 m/s (31.3 mph)
pressure at 7.20 hPapic.twitter.com/yCZi4ZZWYz

### Mars Facts

In [20]:
facts_url = 'http://space-facts.com/mars/'

### Scrape the table information from the defined url and save as pandas

In [21]:
table = pd.read_html(facts_url)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
df = table[0]
df.columns = ['Parameters', 'Facts']
df

             Parameters                          Facts
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Facts</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [24]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameters</th>      <th>Facts</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [25]:
df.to_html('mars_table.html')

### Mars Hemispheres

### Define the USGS url and inform the browser to visit the page

In [26]:
USGS_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(USGS_url)

In [27]:

# Splinter can capture a page's underlying html and use pass it to BeautifulSoup to allow us to scrape the content
hemis_html = browser.html
soup = BeautifulSoup(hemis_html, 'html.parser')

# Using BS, we can execute standard functions to capture the page's content
titles = soup.find_all('div', class_='item')
# define an empty dictionary to store the title and image_url data
hemisphere_image_urls = []

### Iterate each title and scrape the title and image url string, store the data into the dictionary

In [28]:
for title in titles:
    # scrape the hemisphere title
    image_title = title.h3.text
    # go to the title's link
    browser.click_link_by_partial_text(image_title)
    time.sleep(5)
    # scrape the high resolution hemisphere image url 
    full_html = browser.html
    full_soup = BeautifulSoup(full_html, 'html.parser')
    full_quote = full_soup.find('div',class_ = 'downloads')
    full_url = full_quote.a['href']
    # store the hemisphere title and image url string into the dictionary
    hemisphere_image_urls.append({"title": image_title, "image_url": full_url})
    browser.back()
    
    
print(hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]